# Since it is a Dropbox synchronized, we only want to keep track versions of coding files

# Compressed files
*.zip

# Non-version folders
Documents
ValidateModels/tags
ValidateModels/nim

#Non-Tex documents
*.pdf
*.txt
*.log
*.aux
*.dvi
*.synctex.gz
